<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IQDTemplete.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Interface.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>LightTheme</value>
            </setting>
            <setting name="LogoPath" serializeAs="String">
                <value />
            </setting>
        </Interface.Properties.Settings>
        <IQDTemplete.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>LightTheme</value>
            </setting>
        </IQDTemplete.Properties.Settings>
    </userSettings>

	<appSettings>
		<add key="DataSource" value="ٍCMS (Countact Manegmanet System)"/>
	</appSettings>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=.;Database=DB_TM;User Id=sa;Password=sa123456;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

</configuration>